<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="create" parameterType="productVO">
		insert into PRODUCT values (#{id}, #{name}, #{content}, #{price}, #{img})
	</insert>
	<select id="all"  resultType="productVO" >
		select * from PRODUCT
	</select>
	<select id="one" parameterType="productVO" resultType="productVO">
		select * from PRODUCT where id = #{id}
	</select>
	<delete id="del"  parameterType="productVO">
		delete from PRODUCT  where id = #{id}
	</delete>
	<update id="up">
		update PRODUCT set 
		name = #{name}, content = #{content}, price = #{price}
		where id = #{id}
	</update>

	
	<select id="check2" parameterType="productVO" resultType="productVO">
		select id from BOOK where id = #{id}
	</select>
	
</mapper>











